body {
    text-align: center;
    background-color: rgb(3, 1, 8);
    color:white;
}
button {
    border-color: transparent;
}
.whyme {
    font-family: sans-serif;
    color: rgb(246, 85, 16);
    background-color: rgb(255, 238, 230);
}
