button {
    border-color: transparent;
}
.whyme {
    font-family: sans-serif;
    color: rgb(246, 85, 16);
    background-color: rgb(255, 238, 230);
    padding-left: 10px;
}
.tech {
    border-color: gray;
    border-width: 100px;
    border-radius: 5px;
    width: 100vw;
    height: 250px;
    background-color: black;
    color: limegreen;
    padding-left: 10px;
    font-family: "Silkscreen", system-ui;
    font-weight: 400;
    font-style: normal;
}
