html {
  text-align: center;
  background-color: blue;
}
.intro {
  text-align: center;
  margin: 0%;
}
.highlight {
  background-color: lime;
  color: white;
}
p {
  font-family: sans-serif;
  color: white;
}
a {
  color: red;
}
